#!/usr/bin/env zsh

{{ if eq .chezmoi.os "linux" -}}
# Source shared utilities
[[ -f ~/.local/lib/chezmoi/utils.sh ]] && source ~/.local/lib/chezmoi/utils.sh

# Install required packages
install_packages git zoxide
{{ else -}}
brew install zoxide
{{ end -}}
