#!/usr/bin/env zsh

{{ if eq .chezmoi.os "linux" -}}
sudo apt-get install git curl wget
{{ else -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "awscli"
brew "bat"
brew "gh"
brew "ripgrep"
brew "coreutils"
brew "gpg"
brew "gawk"

cask "dbeaver-community"
cask "docker"
cask "figma"
cask "font-fira-code-nerd-font"
cask "google-chrome"
cask "google-chrome@canary"
cask "iterm2"
cask "microsoft-outlook"
cask "microsoft-teams"
cask "obsidian"
cask "postgres-unofficial"
cask "signal"
cask "slack"
cask "spotify"
cask "raycast"
cask "visual-studio-code"
cask "vivaldi"
cask "zoom"
hidutil property --set "$(cat ~/.config/osx/keyboard_remap.json)"
EOF
{{ end -}}

[[ ! -f ~/.antidote ]] || git clone https://github.com/mattmc3/antidote ~/.antidote

. ~/.antidote/antidode.zsh
. ~/.asdf/asdf.sh

asdf plugin add ruby
asdf plugin add nodejs
asdf plugin add yarn

touch .custom.zsh
