#!/usr/bin/env sh

{{- if eq .chezmoi.os "linux" }}
sudo apt-get install -y git fzf
{{- else }}
brew install -q fzf
{{- end }}

go install github.com/asdf-vm/asdf/cmd/asdf@v0.16.4

asdf plugin add nodejs
asdf plugin add ruby

# update the default <chezmoi root>/dot_tool-versions if you update these
asdf install nodejs 22.14.0
asdf install ruby 3.4.2

